$primary: #cf6a5f;
$secondary: #33455e;

@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';


.header{
.nav-link{
    padding: .5rem 2rem !important;

}
    .cart-informer{
        .badge{
            font-size: 0.67rem;
            transform: translate(-15px,7px);
            position: absolute;
        }
    }
}
